* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* General body style */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f8f8;
    color: #333;
    margin: 0;
    padding: 0;
}

/* Cart item style */
.row {
    display: flex;
}

.col-left{
    width: 65%;
    margin-top: 20px;
    margin-left: 170px;
}

.col-right{
    width: 35%;
    margin-top: 6px;
    margin-right: 170px;
}

.container h1{
    margin: 20px 0 0 170px;
}

.cart-item {
    display: flex;
    justify-content: center; /* Center the cart items */
    padding: 1rem;
    margin: 1rem 0;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 800px; /* Set a max-width for the cart item */
}

.cart-item__product {
    display: flex;
    align-items: center;
    width: 100%;
}

.cart-img {
    max-width: 80px;
    border-radius: 8px;
    margin-right: 1rem;
}

.cart-item p {
    margin: 0 1rem;
    color: #555;
}