.container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    z-index: 0;
    font-family: "Roboto Thin", sans-serif;
}

form{
    font-family: "Roboto Thin", sans-serif;
    width: 50vw;
    max-width: 600px;
    height: auto;
    padding: 20px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin: 0 20px;
}

label{
    font-size: 1.6rem;
    font-weight: bold;
    color: #333;
    margin-top: 10px;
    display: block;
}

input[type=submit] {
    margin-top: 15px;
    width: 100%;
    padding: 12px;
    font-size: 1.6rem;
    color: white;
    background-color: #FA442B;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s;
}

input[type=submit]:hover {
        background-color: #e63946;
        transform: translateY(-3px); /* Hover effect */
}

input[type=text], input[type=email], textarea, #problem {
    width: 100%;
    padding: 10px;
    margin-bottom: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 1.6rem;
    transition: border-color 0.3s ease;
}

textarea{
    resize: none;
    overflow: auto;
}

